<template name="postForm">
    <div class="container">
        <form id="newPost">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input class="form-control" type="text" name="post">
                        <input type="checkbox" name="makePrivate">
                        <span>Make Private?</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success " type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</template>
