<template name="posts">
    <h1 class="textStyle">All public posts published by the users</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    {{#each allPosts}}
                        <li class="list-group-item d-flex justify-content-between">
                            <label for="{{_id}}">{{text}}</label>
                            {{#if compare userId '==' loggedIn}}
                                <button class="btn btn-danger deleteBtnPublic">Delete</button>
                                <div class="d-flex align-items-center">
                                    <input checked="{{#if isPrivate}}checked{{/if}}" type="checkbox" name="updatePublic" id="" class="updatePublic">
                                    <span>Private</span>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>