<template name="userPosts">
    <h1 class="textStyle">Your Private Posts</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    {{#each allPrivatePosts}}
                        <li class="list-group-item d-flex justify-content-between">
                            <label for="{{_id}}">{{text}}</label>
                            <button class="btn btn-danger deleteBtn">Delete</button>
                            <div class="d-flex align-items-center">
                                <input checked="{{#if isPrivate}}checked{{/if}}" type="checkbox" name="updatePrivate" id="" class="updatePrivate">
                                <span>Private</span>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
