<head>
  <title>Posts_Share</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <h1>Welcome to The Blog!</h1>

  {{> loginButtons}}

  {{#if loggedIn}}
    {{> postForm}}
    {{> userPosts}}
  {{/if}}
  
  {{> posts}}
</body>

